@tailwind base;
@tailwind components;
@tailwind utilities;




*,::after,::before{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
}

.max-width{
  max-width: 70%;
  margin: 0 auto;
  /* background-color: red; */
  padding:1rem 0;
}